<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Ресурс -->
    <bean id="questionsResource" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg value="questions.csv"/>
    </bean>

    <!-- DAO: читает строки из CSV -->
    <bean id="questionDao" class="ru.dsobin.quiz.dao.CsvQuestionDao">
        <constructor-arg ref="questionsResource"/>
    </bean>

    <!-- Сервис: парсит строки в Question -->
    <bean id="questionService" class="ru.dsobin.quiz.service.QuestionService">
        <constructor-arg ref="questionDao"/>
    </bean>

    <!-- Сервис: вывод в консоль -->
    <bean id="consoleOutputService" class="ru.dsobin.quiz.service.ConsoleOutputService"/>

</beans>